@model List<TicketBooking.Models.Models.Branch>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ticket Booking</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Theme/css/grayscale.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projects">Book a Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Ticket Booking System</h1>
            </div>
        </div>
    </header>
    <!-- Projects Section justify-content-center no-gutters -->
    <section id="projects" class="projects-section bg-light">

        <div class="container-fluid">
            <div class="row justify-content-center no-gutters">
                <div class="col-md-8">
                    <div class="card">
                        <form class="form-horizontal" action="/booking/add" method="post">
                            <div class="card-body">
                                <h4 class="card-title card-header" style="margin-bottom : 20px;">Book a Ticket</h4>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            @if (ViewBag.msg != null)
                                            {
                                                <h3 class="text-success">@ViewBag.msg</h3>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 text-right control-label col-form-label" for="FromBranchID">From</label>
                                            <div class="col-sm-8">
                                                <select class="col-md-12 rounded" name="FromBranchID" id="FromBranchID" style="height : 40px;">
                                                    <option value="none" selected disabled hidden>--Select--</option>
                                                    @foreach (var branch in Model)
                                                    {
                                                        <option name="FromBranchID" value="@branch.BranchID">@branch.BranchName</option>

                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 text-right control-label col-form-label" for="ToBranchID">To</label>
                                            <div class="col-sm-8">
                                                <select class="col-md-12 rounded" name="ToBranchID" id="ToBranchID" style="height : 40px;">
                                                    <option value="none" selected disabled hidden>--Select--</option>
                                                    @foreach (var branch in Model)
                                                    {
                                                        <option name="ToBranchID" value="@branch.BranchID">@branch.BranchName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 text-right control-label col-form-label" for="Date">Date</label>
                                            <div class="col-sm-8">
                                                <input type="date" class="col-md-12 rounded" name="Date" id="Date" style="height : 40px;" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 text-right control-label col-form-label" for="Category">Category</label>
                                            <div class="col-sm-8">
                                                <select class="col-md-12 rounded" name="Category" id="Category" style="height : 40px;">
                                                    <option name="Category" value="AC">AC</option>
                                                    <option name="Category" value="NonAC">Non-AC</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Details">
                                <div class="border-top">
                                    <div class="card-body">
                                        <h4 class="card-title card-header text-center" style="margin-bottom : 20px;">Ticket Details</h4>
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-hover text-center">
                                                <thead class="bg-primary">
                                                    <tr>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Category</th>
                                                        <th>Date</th>
                                                        <th>Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="FromBranchTd"></td>
                                                        <td id="ToBranchTd"></td>
                                                        <td id="CategoryTd"></td>
                                                        <td id="DateTd"></td>
                                                        <td id="PriceTd"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="row card-body">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <button id="ConfirmBtn" type="submit" class="btn btn-primary">Confirm Ticket</button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="FromBranch" id="FromBranch">
                            <input type="hidden" name="ToBranch" id="ToBranch">
                            <input type="hidden" name="Price" id="Price">
                            <input type="hidden" name="Status" id="Status" value="0">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="signup" class="contact-section bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">Kaderabad Housing, Mohammadpur, Dhaka</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="#">mostakahmademo@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">+8801792448092</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a href="https://bd.linkedin.com/in/mostakahmad" target="_blank" class="mx-2">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://facebook.com/emostak" target="_blank" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://github.com/mostakahmad" target="_blank" class="mx-2">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; Mostak Ahmad
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Theme/js/grayscale.min.js"></script>
    <script>
        $(document).ready(function () {
            var price = 0;
            $("#FromBranchID").change(function () {
                $("#msg").text("");
                if ($("#FromBranchID").val() != null && $("#ToBranchID").val() != null) {

                    $('#FromBranchTd').html($("#FromBranchID").children("option:selected").text());
                    $('#ToBranchTd').html($("#ToBranchID").children("option:selected").text());
                    cat = $("#Category").children("option:selected").text();

                    $('#DateTd').html($("#Date").val().toString());

                    var FromBranchID = $("#FromBranchID").val();
                    var ToBranchID = $("#ToBranchID").val();

                    if (Number(FromBranchID) > Number(ToBranchID)) {
                        var temp = FromBranchID;
                        FromBranchID = ToBranchID;
                        ToBranchID = temp;
                    }

                        var jsonData = {
                            FromBranchID: FromBranchID,
                            ToBranchID: ToBranchID
                        };

                        $.ajax({
                            url: "/fair/getFair",
                            type: "POST",
                            data: jsonData,
                            success: (response) => {
                                if (response.length > 0) {
                                    $.each(response, (index, fair) => {
                                        if (cat === "AC") {
                                            price += fair.AC;
                                            $('#CategoryTd').html("AC");
                                        }
                                        else {
                                            price += fair.NonAC;
                                            $('#CategoryTd').html("Non AC");
                                        }
                                    });
                                    $('#PriceTd').html(price);
                                }
                                else {
                                    $('#FromBranchTd').html("");
                                    $('#ToBranchTd').html("");
                                    $('#DateTd').html("");
                                    $('#CategoryTd').html("");
                                    $('#PriceTd').html("");
                                }
                            }
                        });                  
                }
                else {
                    if ($("#FromBranchID").val() == null)
                        $("#msg").append("Please Select a Location in From!");
                    else
                        $("#msg").append("Please Select a Location in To!");
                }
            });


            $("#ToBranchID").change(function () {
                $("#msg").text("");
                if ($("#FromBranchID").val() != null && $("#ToBranchID").val() != null) {

                    $('#FromBranchTd').html($("#FromBranchID").children("option:selected").text());
                    $('#ToBranchTd').html($("#ToBranchID").children("option:selected").text());
                    cat = $("#Category").children("option:selected").text();

                    $('#DateTd').html($("#Date").val().toString());

                    var FromBranchID = $("#FromBranchID").val();
                    var ToBranchID = $("#ToBranchID").val();

                    if (Number(FromBranchID) > Number(ToBranchID)) {
                        var temp = FromBranchID;
                        FromBranchID = ToBranchID;
                        ToBranchID = temp;
                    }

                    var jsonData = {
                        FromBranchID: FromBranchID,
                        ToBranchID: ToBranchID
                    };

                    $.ajax({
                        url: "/fair/getFair",
                        type: "POST",
                        data: jsonData,
                        success: (response) => {
                            if (response.length > 0) {
                                $.each(response, (index, fair) => {
                                    if (cat === "AC") {
                                        price += fair.AC;
                                        $('#CategoryTd').html("AC");
                                    }
                                    else {
                                        price += fair.NonAC;
                                        $('#CategoryTd').html("Non AC");
                                    }
                                });
                                $('#PriceTd').html(price);
                            }
                            else {
                                $('#FromBranchTd').html("");
                                $('#ToBranchTd').html("");
                                $('#DateTd').html("");
                                $('#CategoryTd').html("");
                                $('#PriceTd').html("");
                            }
                        }
                    });
                }
                else {
                    if ($("#FromBranchID").val() == null)
                        $("#msg").append("Please Select a Location in From!");
                    else
                        $("#msg").append("Please Select a Location in To!");
                }
            });

            $("#Category").change(function () {
                $("#msg").text("");
                if ($("#FromBranchID").val() != null && $("#ToBranchID").val() != null) {

                    $('#FromBranchTd').html($("#FromBranchID").children("option:selected").text());
                    $('#ToBranchTd').html($("#ToBranchID").children("option:selected").text());
                    cat = $("#Category").children("option:selected").text();

                    $('#DateTd').html($("#Date").val().toString());

                    var FromBranchID = $("#FromBranchID").val();
                    var ToBranchID = $("#ToBranchID").val();

                    if (Number(FromBranchID) > Number(ToBranchID)) {
                        var temp = FromBranchID;
                        FromBranchID = ToBranchID;
                        ToBranchID = temp;
                    }

                    var jsonData = {
                        FromBranchID: FromBranchID,
                        ToBranchID: ToBranchID
                    };

                    $.ajax({
                        url: "/fair/getFair",
                        type: "POST",
                        data: jsonData,
                        success: (response) => {
                            if (response.length > 0) {
                                $.each(response, (index, fair) => {
                                    if (cat === "AC") {
                                        price += fair.AC;
                                        $('#CategoryTd').html("AC");
                                    }
                                    else {
                                        price += fair.NonAC;
                                        $('#CategoryTd').html("Non AC");
                                    }
                                });
                                $('#PriceTd').html(price);
                            }
                            else {
                                $('#FromBranchTd').html("");
                                $('#ToBranchTd').html("");
                                $('#DateTd').html("");
                                $('#CategoryTd').html("");
                                $('#PriceTd').html("");
                            }
                            
                        }
                    });
                }
                else {
                    if ($("#FromBranchID").val() == null)
                        $("#msg").append("Please Select a Location in From!");
                    else
                        $("#msg").append("Please Select a Location in To!");
                }
            });

            $("#Date").change(function () {
                $("#msg").text("");
                if ($("#FromBranchID").val() != null && $("#ToBranchID").val() != null) {
                    $('#DateTd').html($("#Date").val().toString());
                }
                else {
                    if ($("#FromBranchID").val() == null)
                        $("#msg").append("Please Select a Location in From!");
                    else
                        $("#msg").append("Please Select a Location in To!");
                }
            });

            $("#ConfirmBtn").click(function () {
                var FromBranch = $("#FromBranchID").children("option:selected").text();
                var ToBranch = $("#ToBranchID").children("option:selected").text();
                $('#FromBranch').val(FromBranch);
                $('#ToBranch').val(ToBranch);
                $('#Price').val(price);
            });

        });
    </script>
</body>
</html>

